/* --------- TABLE OF CONTENTS ------------- *\
- OVERALL SITE
- HERO-SECTION
- NAVIGATION
- BANNER
- MID SECTION
- FOOTER
- SMALL SCREENS
- CUSTOM FONTS

\* ----------------------------------------- */



/*----------------------------------*\
		    OVERALL SITE
\*----------------------------------*/
*{                              /*removes default margin, padding and the underline effect*/
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*----------------------------------*\
			 HERO-SECTION
\*----------------------------------*/

.hero-section {
    width: 100%;
    height: 600px;
    background-image: url(tea_cup.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*----------------------------------*\
	          NAVIGATION
\*----------------------------------*/

nav {
    width: 100%;
    background: rgba(0 ,0 ,0 , 0.5);
    height: 73px;
    position: static;
    z-index: 1;
}

nav #menu {
    text-align: center;
}

nav #menu li {
    display: inline-block;
    padding: 0px 30px;
    cursor: pointer;
    line-height: 70px;
    position: relative;
    transition: all 0.3s ease-out;
}

nav #menu li:hover {
    background-color: #933107;
    opacity: 0.9;
}

nav #menu li a {
    color: #fff;
    font-family: "SignatraFont";
    font-weight: 200;
    font-size: 32px;
}

#toggle {                       /*navigation button used for smaller screens*/
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

#toggle .span {
    height: 3px;
    background: #fff;
    transition: all 0.3s ease-out;
    backface-visibility: hidden;
    margin: 5px auto;
}

#toggle.on #one {
    transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
    opacity: 0;
}

#toggle.on #three {
    transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {                     /*additional menu for smaller screens*/
    z-index: 1;
    top: 0px;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
    display: table;
}

#resize #menu2 {
    height: 90px;
    display: table-cell;
    vertical-align: center;
}

#resize #menu2 li {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top:140px;
}

#resize #menu2 li a {
    color: #fff;
    font-family: SignatraFont;
}

#resize.active {
    visibility: visible;
    opacity: 0.99;
}

/*----------------------------------*\
	           BANNER
\*----------------------------------*/

.caption {
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-family: "Times New Roman";
    position: absolute;
    margin-top: 160px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

h1 {
    font-size: 350%;
    font-family: BirdsFont;

}

h2 {
    font-size: 250%;
}

.first-button {
    text-align: center;
    margin-top: 35px;
}
.button1 {
    background-color: #933107 ;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(button.jpg);
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 43px;
    cursor: pointer;
    padding: 15px 32px;
    transition: 0.5s;
    font-family: BirdsFont;
}

.button1:hover {
    opacity: 0.7;
}


/*----------------------------------*\
	  	      MAIN PAGE
               CONTENT
\*----------------------------------*/


/*======SPECIAL OFFER LAYOUT #1======*/
.container1 {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 200px;
    flex-flow: row;
    padding: 5px;
}


/*======SPECIAL OFFER LAYOUT #2======*/
.container2 {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 200px;
    flex-flow: row-reverse;
    padding: 5px;
}

.textbutton {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    padding: 5px;
    flex-wrap: wrap;
}


/*======IMAGES FOR EVERY OFFER======*/
#img1 {
    height: auto;
    width: 45%;
    margin: 5px;
}

#img2 {
    height: auto;
    width: 45%;
    margin: 5px;
}

#img3 {
    height: auto;
    width: 45%;
    margin: 5px;
}

#img4 {
    height: auto;
    width: 45%;
    margin: 5px;
}

#img5 {
    height: auto;
    width: 45%;
    margin: 5px;
}

p {
    margin: 5px;
    font-family: "Times New Roman";
    text-align: left;
    font-size: 120%;
    align-items: center;
}

mark.head {
    font-size: 44px;
    font-family: BirdsFont;
    text-decoration: underline;
    background-color: transparent;
    font-style: italic;
    font-weight: bold;
}

.button2 {
    text-decoration: none;
    margin-top: 40px;
    color: black;
    display: inline-block;
    font-size: 33px;
    cursor: pointer;
    padding: 10px 25px;
    transition: 0.5s;
    font-family: SignatraFont;
    border-style: solid;
    border-color: black;
    text-align: center;
    align-self: center;
    font-style: italic;
    font-weight: bold;
}

.button2:hover {
    color: white;
    background-color: black;
}

/*----------------------------------*\
	  	        FOOTER
\*----------------------------------*/

footer {
    background-color: #4A494B;
    padding: 5px;
}

footer p {
    font-size: 100%;
    text-align: center;
    font-family: "Times New Roman";
    color: #AAAAAB;
}


/*----------------------------------*\
	  	   SMALL SCREENS
\*----------------------------------*/


@media(max-width: 868px) {
    #toggle {             /*activates the toggle button for the menu*/
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
    }

    #menu a {
        font-family: "Poppins";
        font-weight: 200;
        font-size: 20px;
    }

    nav #menu {
        display: none;
    }
}

@media(min-width: 868px) {
    #resize {
        visibility: hidden !important;
    }
}


@media (max-width: 1200px) {
    .container1 {
        margin-top: 50px;
        margin-bottom: 50px;
        flex-flow: column;
    }
    .container2 {
        margin-top: 50px;
        margin-bottom: 50px;
        flex-flow: column;
    }
    #img1 {
        width: 80%;
    }
    #img2 {
        width: 80%;
    }
    #img3 {
        width: 80%;
    }
    #img4 {
        width: 80%;
    }
    #img5 {
        width: 80%;
    }
    .textbutton{
        margin:50px;
    }
}



/*----------------------------------*\
		    CUSTOM FONTS
\*----------------------------------*/

@font-face {
    font-family: BirdsFont;
    src: url(Birds.ttf);
}
@font-face {
    font-family: SignatraFont;
    src: url(Signatra.ttf);
}